<div class="box">
  <div class="content" #imgBox [ngStyle]="{'opacity': loaded ? '1' : '0'}">
    <div (click)="lookImg()">
      <img [src]="src" (load)="loaded = true;fromChild.emit({box:box, index:index});" (error)="fromChild.emit({error: true, index: index});"/>
      <!-- <h3>Life is need record.</h3> -->
      <!-- <div *ngIf="showOpt" class="option" (click)="showOpt && toggleOpt($event)">
        <button (click)="download(src)">保存</button>
        <button (click)="like(src)">收藏</button>
        <button (click)="unlink(src)">不喜欢</button>
      </div> -->
    </div>
    <div class="more">
      <i class="mz-iconfont icon-more omit" (click)="fromChild.emit({box:box, index:index, option: true})"></i>
    </div>
  </div>
</div>

<div class="img-wrap" [ngClass]="{'center': showCenter}" *ngIf="showImg" (click)="lookImg()">
  <div class="mark"></div>
  <div class="img"><img [src]="src" /></div>
</div>
