<div class="home">
  <app-look-image #tref *ngFor="let image of images; index as i" [index]="i" [src]="image.src" (fromChild)="fromChildFunc($event, index)"></app-look-image>
  <nz-drawer [nzWrapClassName]=" 'drawer ' + (!visible ? 'hidden' : '')" [nzVisible]="visible" (nzOnClose)="showDrawer()" nzPlacement="bottom" nzTitle="Options">
    <p class="option-btn" (click)="download(src)">Save</p>
    <p class="option-btn" (click)="like(src)">Like</p>
    <p class="option-btn" *ngIf="showDel" (click)="delete(src)">Delete</p>
  </nz-drawer>
</div>
