<div class="login">
  <div class="logo">
    <img src="../../../assets/icons/icon-512x512.png" alt="meizi">
  </div>
  <div class="input-wrap">
    <nz-input-group class="user-info username" [nzSuffix]="userSuffixTemplate" [nzPrefix]="userPrefixTemplate">
      <input type="text" (ngModelChange)="inputChange($event, 'username')" nz-input placeholder="Enter your username" [(ngModel)]="username" />
    </nz-input-group>
    <p class="error-tip" *ngIf="usernameError">{{usernameError}}</p>
  </div>
  <ng-template #userPrefixTemplate><i nz-icon type="user"></i></ng-template>
  <ng-template #userSuffixTemplate
    ><i nz-icon type="close-circle" (click)="username = ''" *ngIf="username"></i
  ></ng-template>
  <div class="input-wrap">
    <nz-input-group class="user-info password" [nzSuffix]="pwdSuffixTemplate" [nzPrefix]="pwdPrefixTemplate">
      <input type="password" nz-input (ngModelChange)="inputChange($event, 'password')"  placeholder="Enter your password" [(ngModel)]="password" />
    </nz-input-group>
    <p class="error-tip" *ngIf="passwordError">{{passwordError}}</p>
  </div>
  <ng-template #pwdPrefixTemplate><i nz-icon type="lock"></i></ng-template>
  <ng-template #pwdSuffixTemplate
    ><i nz-icon type="close-circle" (click)="password = ''" *ngIf="password"></i
  ></ng-template>

  <button class="btn" nz-button nzType="primary" (click)="login()">Login</button>
</div>
