.login {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
  .logo {
    width: 25%;
    img {
      width: 100%;
    }
    margin-bottom: 50px;
  }
  .user-info {
    width: 80%;
    margin-bottom: 20px;

    input {
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      padding: 19px 30px;
      border-color: #575757;
    }
  }
}
