* {
	padding: 0px;
	margin:0px;
}

.box {
	position: relative;
	float: left;
	cursor: none;
}

.content {
	border: 1px solid gray;
	box-shadow: 0 0 8px gray;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
	cursor: none;
	padding-bottom: 10px;
}

.content img {
	width: 400px;
	cursor: none;
	height: auto;
}

.content h3 {
		cursor: none;
	  font-family: 'Caveat', cursive;
    line-height: 1;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 1em 0.5em;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #698b8d;
    background: #fff;
}

#container {
	width: 80%;
	margin: 0 auto;
}

.mark {
	position: fixed;
	display: none;
	z-index: 10;
	opacity: 0.9;
	background: #000;
	width: 100vw;
	height: 100vh;
}

.blow-up {
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	touch-action: none;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	cursor: default;
	padding: 10px;
}

.blow-up img {
	width: 100%;
	cursor: default;
}

@media only screen and (min-width: 320px) and (max-width: 767px)  {
	.box {
		width: 80vw;
	}

	.box:focus {
    outline: none;
}

	.content img {
		width: 100%;
	}
}