
* {
	padding: 0px;
	margin:0px;
}


#container {
	width: 100vw;
  margin: 0 auto;
  height: 100%;
  // position: relative;
  // overflow: auto;
  // height: 100%;
  // -webkit-overflow-scrolling: touch;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 1;
  background: #fff;

  &.local {
    top: unset;
    opacity: 0.7;
  }
}



