* {
	padding: 0px;
	margin:0px;
}


#container {
	width: 100vw;
  margin: 0 auto;
  // column-width: 202px;
}


.mark {
	position: fixed;
	display: none;
	z-index: 10;
	opacity: 0.9;
	background: #000;
	width: 100vw;
	height: 100vh;
}

