<!-- <nz-spin class="loading" [nzSize]="'large'" *ngIf="loadingService.isLoading && loading && !pending "></nz-spin> -->
<div id="container">
  <app-look-image #tref *ngFor="let image of images; index as i" [index]="i" [src]="image.src" (fromChild)="fromChildFunc($event, index)"></app-look-image>
  <nz-drawer [nzWrapClassName]=" 'drawer ' + (!visible ? 'hidden' : '')" [nzVisible]="visible" (nzOnClose)="showDrawer()" nzPlacement="bottom" nzTitle="Options">
    <p class="option-btn" (click)="download(src)">Save</p>
    <p class="option-btn" (click)="like(src)">Like</p>
    <p class="option-btn" (click)="unlink(src)">Unlike</p>
  </nz-drawer>
  <app-footer></app-footer>
  <nz-spin class="loading local" [nzSize]="'large'" *ngIf="!loading && !pending && loadingService.isLoading"></nz-spin>
</div>


