/* You can add global styles to this file, and also import other style files */
body {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  padding-top: 44px;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
