* {
  margin: 0;
  padding: 0;
}

@keyframes tapAnimation {
  0% {
    opacity: 1;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.box {
  width: 300px;
  position: absolute;
  cursor: zoom-in;

  &::before {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    content: " " !important;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0.96);
    width: 100%;
    z-index: 3;
  }

  &:hover::before {
    animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
  }
}

.content {
	box-shadow: 0 0 8px gray;
	border-radius: 5px;
  overflow: hidden;
	margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }

  h3 {
	  font-family: 'Caveat', cursive;
    line-height: 1;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 1em 0.5em;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #698b8d;
    background: #fff;
  }
}



.blow-up {
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	touch-action: none;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	cursor: default;
  padding: 10px;

  img {
    width: 100%;
    cursor: default;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px)  {
	.img-wrap {
    img {
      width: 100%;
      height: auto !important;
    }
  }

}

.img-wrap {
  position: fixed;
	z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;

  .mark {
    opacity: 1;
    position: fixed;
    background: #000;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }

  img {
    position: fixed;
    z-index: 100;
    height: 100%;
  }
}


